header {
    background-color: #7e7e88;
    color: white;
    width: 100%;
    padding: 25px 3%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center; 
    display: flex;
    z-index: 1;
}
body {
    background-color: #d3d3d3;

}
.logo {
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif; 
    color: white;
    text-decoration: none;
}
.nav a {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    margin-left: 110px;
    font-weight: 300;
    text-decoration: none;
}
.nav a:hover,
.nav a.active {
color: #ee9c50;
}

table {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif; 
    color: rgb(255, 255, 255);
    background-color: #514e53;
    margin: 100px;
    padding: 20px;
    margin-top: 10px;
    
}
.mapa {
    text-align: center;
    padding-bottom: 50px;
}
td {
    padding: 20px;

}
.titulotabela {
    font-size: 30px;
    text-align: center;
    background-color: #ee9c50;
    color: #ffffff;
}
.fabricantes {
    color: #ffffff;
    font-size: 30px;
    background-color: #7e7e88;

}
table th, a{
    color: #ee9c50;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
}
.carros {
    background-color: #ffffff;
    margin: 100px;
    padding: 100px;
    position: static;
    margin-top: 60px;
    color: #49474b;
    font-size: 20px;
    border-spacing: 50px;
    line-height: 1.5;
}
.meucarango {
    background-color: #ffffff;
}
.mensagem {
    color: #ee9c50;
}
h1 {
    background-color: #514e53;
    margin-top: 150px;
    color: #f8f8f8;
    text-align: center;
}
h2 {
    text-align: center;
    color: #49474b;
}

.contato {
    background-color: #514e53;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    align-items: center;
    text-align: center;
    margin: 40px;
    margin-left: 350px;
}
.mail {
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    margin-left: 140px;
}
.contato a:hover,
.contato a.active {
color: #ee9c50;
}
h3:hover,
h3.active {
color: #ee9c50;
}
.links {
    align-items: center;
    font-size: 20px;
}
table tr a:hover,
table tr a.active {
color: #ffffff;
cursor: pointer;
}

.carros2 {
    position: static;
    margin: 250px;
    margin-top: 200px;
    background-color: #ffffff;
    color: #514e53;
    align-items: center;
}

.carros2 th {
    color: #ee9c50;
    text-align: center;
    font-size: 30px;
    background-color: #ffffff;
}
.carros2 th:hover,
.carros2 th.active {
color: #514e53;
cursor: pointer;
}
img .carrosdetalhes {
    margin-top: 300px;
    margin: 10px;
    align-items: center;

}
.carros2 td {
    background-color: #49474b;
    color: #ffffff;
    
}
.carros td {
    background-color: #514e53;
    color: #ffffff;
}
.icon {
    margin: 10px;
    color: #ee9c50;
    display: inline-block;
}

.listamontadoras {
    text-align: center;
    background-color: #ee9c50;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
    margin: 70px;
}
.hist th {
    color: #ffffff;

}
.logof {
    text-align: center;
}

.container-slider {
    display: flex;
    width: 100%;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
  
.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    
}
  
.slider, .slider2, .slider3, .slider4, .slider5 {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 10px #e9be95;
}
  
.on {
    opacity: 1;
}
  
#prev-button, #next-button, #prev-button1, #next-button1, #prev-button2, #next-button2, #prev-button3, #next-button3, #prev-button4, #next-button4, #prev-button5, #next-button5 {
    width: 40px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.chevron {
    width: 100%;
    height: 100%;
}